*{
    margin: 0px;
    padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
body{
    background: #32502b;
    color: #fff;
    font-size: 22px;
}
.wrapper{
    margin: 0 auto;
    width: 480px;
   
}
h2{
    text-align: center;
    width: 90%;
}
form{
    display: flex;
    flex-wrap: wrap;
}
button,
input{
    display: block;
    outline:none;
    background-color: #3b6033;
    border-color: #45703b;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin: 0 5px 10px;
    
   
}
input{
    width: 40%;
}
input:focus-visible{
    border-color: #000;
    background-color: #45703b;
}
button{
    width: 90%;
    cursor: pointer;
   font-size: 18px;
}
ul{
    list-style: none;
    width: 90%;
    margin: 0 5px;
}
li{
    display: flex;
    flex-wrap: wrap;
    background-color: #3b6033;
    border:2px solid #45703b;
    border-radius: 5px;
    margin-bottom: 10px;
}
li>div{
    padding: 5px;
}
.targetContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.targetText{
    margin-left: 10px;
}
.target{
    flex-grow: 1;
    max-width:75%;
}
span{
    color: #818184;
}

@media (max-width: 480px) {
    .wrapper{
        margin: 0 auto;
        width: 90vw;
       
    }
    input{
        width: 90%;
    }
    .target{
       max-width:100%;
    }
    button{
        width: 95%;
    }
    h2{
        font-size: 16px;
    }
    li{
        justify-content: end;
    }
}